[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash.git
[submodule "repo/sparsehash"]
	path = repo/sparsehash
	url = https://github.com/sparsehash/sparsehash.git
